.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background:#ecf0f9;
}

.close-btn{
  font-size:1.5em;
  color:lightgrey;
  transition:all 0.3s;
}

.close-btn:hover{
  color:red;
}

.container{
  background:white;
  padding:15px;
  min-height:500px;
}

.loader-inner{
      display:block;
      margin:auto;
      height:100px;
      text-align:center;
}

.loader-inner > div{
    background:grey;

  }
#select-dogs{
  margin-top:3em;
}
